.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  position: fixed;
  background: tan;
  height: 100%;
  overflow: auto;

}

.sidebar a {
  display: block;
  padding: 8
}

.mainbody {
    margin-left: 310px;
    font-size: 14px
}

th, td {
    border: 1px solid black;
}

.table {
    border: 1px solid black;
    width: 100%;
}