{% extends "sidebar.html" %}

{% block content %}

    <h1>Admin Edit All Classes - Select query against classes table</h1>

<table>
    <tr>
        <th>Class Name</th>
        <th>Class Date</th>
        <th>Instructor</th>
        <th>Available Seats</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    {% for key, value in data.items() %}
    <tr>
        {% for key, value in value.items() %}
            <td id="{{ key }}">{{value}}</td>
        {% endfor %}
        <td>
            <button value="{{key}}" name="edit_class">Edit Class</button>
            <button value="{{key}}" name="delete_class">Delete Class</button>
        </td>
    </tr>
    {% endfor %}
        <tr>
            <td>
                <input type="text" name="class_name" value>
            </td>
            <td>
                <input type="date" name="date" value>
            </td>
            <td>
                <input type="text" name="instructor_name" value>
            </td>
            <td>
                <input type="number" name="available_seats" value>
            </td>
            <td>
                <button value="add_class" name="add_class">Add Class</button>
            </td>
        </tr>
</table>

{% endblock %}