{% extends "sidebar.html" %}

{% block content %}

    <h1>Admin Edit All Customer Enrollments - Select query against enrollments table, classes and customers table</h1>

<table>
    <tr>
        <th>Class Name</th>
        <th>Customer First Name</th>
        <th>Customer Last Name</th>
        <th>Class Date</th>
        <th>Instructor</th>
        <th>Course Result</th>
        <th>Actions</th>
    </tr>
    {% for key, value in data.items() %}
    <tr>
        {% for key, value in value.items() %}
            <td id="{{ key }}">{{value}}</td>
        {% endfor %}
        <td>
            <button value="{{key}}" name="edit_enrollment">Edit Enrollment</button>
            <button value="{{key}}" name="delete_enrollment">Delete Enrollment</button>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}