{% extends "sidebar.html" %}

{% block content %}

    <h1>Admin Edit All Users - Select query against classes table</h1>
<form action="/add_account" method="POST">
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Admin</th>
            <th>Actions</th>
        </tr>
        {% for key, value in data.items() %}
        <tr>
            {% for key, value in value.items() %}
            <td id="{{ key }}">{{value}}</td>
            {% endfor %}
            <td>
                <button value="{{key}}" name="edit_user">Edit User</button>
                <button value="{{key}}" name="delete_user">Delete User</button>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td>
                <input type="text" name="first_name" value>
            </td>
            <td>
                <input type="text" name="last_name" value>
            </td>
            <td>
                <input type="text" name="username" value>
            </td>
            <td>
                <input type="text" name="password" value>
            </td>
            <td>
                <input type="text" name="email" value>
            </td>
            <td>
                <input type="checkbox" name="admin" value>
            </td>
            <td>
                <button type="submit" name="add_user">Add User</button>
            </td>
        </tr>
    </table>
</form>

{% endblock %}