{% extends "sidebar.html" %}

{% block content %}

    <h1>Admin Edit Bakery Items</h1>

<input type="text" placeholder="Filter">
<button value="filter_products" name="filter">Filter Results</button>
<p>
<table>
    <tr>
        <th>Item Name</th>
        <th>Vendor</th>
        <th>Cost</th>
        <th>Quantity Available</th>
        <th>Action(s)</th>
    </tr>
        <tr>
            <td>Sample Item Name</td>
            <td>Acme Inc</td>
            <td>$1.54</td>
            <td>100</td>
            <td>
                <button value="edit_item" name="edit_item">Edit Item</button>
                <button value="remove_item" name="remove_item">Remove Item</button>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="item_name" value>
            </td>
            <td>
                <input type="text" name="vendor_name" value>
            </td>
            <td>
                <input type="number" name="price" value>
            </td>
            <td>
                <input type="number" name="initial_quantity" value>
            </td>
            <td>
                <button value="add_item" name="add_item">Add Item</button>
            </td>
        </tr>

</table>

{% endblock %}