{% extends "sidebar.html" %}

{% block content %}

<div class="add_customer_information">
    <h1>Login - Selects information stored in customer table for authentication</h1>
    <form class ="login_information" action method="POST" enctype="text/plain">
        <label for>Username:</label>
        <input type="text" name="username" value>
        <br>
        <br>
        <label for>Password:</label>
        <input type="password" name="customer_password" value>
        <br>
        <br>
        <input type="submit" name>
    </form>
    <h1>Register - Adds user to customer table</h1>
    <form class ="login_information" action method="POST" enctype="text/plain">
        <label for>Username:</label>
        <input type="text" name="username" value>
        <br>
        <br>
        <label for>Password:</label>
        <input type="password" name="customer_password" value>
        <br>
        <br>
        <input type="submit" name>
    </form>
</div>

{% endblock %}