{% extends "sidebar.html" %}

{% block content %}
    <h1>All saved payment items - Select query against payment_information table</h1>
    <p>If the user isn't logged in, they will not see any saved payments. Clicking select payment will select that info
        for the order. Selecting add payment will add to payment_information if the user is logged in</p>


<table>
    {% for key, value in data.items() %}
        <tr>
            <td>
                {{ value }}
            </td>
        </tr>
    {% endfor %}
</table>

<form>
    <button value="{{ key }}" name="key">Select Payment</button>
</form>


<div class="add_payment_information">
    <h1>Add Payment Information</h1>
    <form class ="add_payment_information" action method="POST" enctype="text/plain">
        <label for>Customer Full Name:</label>
        <input type="text" name="customer_name" value>
        <br>
        <br>
        <label for>Credit/Debit Card Number:</label>
        <input type="number" name="card_name" value>
        <br>
        <br>
        <label for>Card Security Number:</label>
        <input type="number" name="security_name" value>
        <br>
        <br>
        <label for>Card Expiration Date:</label>
        <input type="date" name="expiration_date" value>
        <br>
        <br>
        <input type="submit" name>
    </form>
</div>
{% endblock %}
