{% extends "sidebar.html" %}

{% block content %}

    <h1>All Bakery Items - Select query against Items table</h1>
    <p>Clicking Add to Cart will add to customers session and doesn't utilize a database table</p>

<input type="text" placeholder="Filter">
<button value="filter_products" name="filter">Filter Results</button>
<p>
<table>
    <tr>
        <th>Item Name</th>
        <th>Vendor</th>
        <th>Cost</th>
        <th>Quantity Available</th>
        <th>Quantity To Order</th>
        <th>Action(s)</th>
    </tr>
    {% for item in value %}
        <tr>
        {% for key, value in data.items() %}
            <td>Key: {{key}} Value: {{value}}</td>
        {% endfor %}

            <td><input type="text" size="8" placeholder="1" name="Quantity"/></td>
                <td><button value="{{ key }}" name="key">Add to Cart</button></td>
            </tr>
        
    {% endfor %}

</table>

{% endblock %}