{% extends "sidebar.html" %}

{% block content %}

    <h1>All Products currently added to Shopping Cart - loaded from users session</h1>
    <p>Clicking Checkout will add a row in orders for the overall order and will add rows to order_items equal to the
        number of unique items purchased. Clicking remove Item will remove from the session</p>

<table>
    <tr>
        <th>Item Name</th>
        <th>Vendor</th>
        <th>Cost</th>
        <th>Quantity in Cart</th>
        <th>Action(s)</th>
    </tr>
    {% for key, value in data.items() %}
        <tr>
            <td>{{ value }}</td>
            <td>Acme Inc</td>
            <td>$1.54</td>
            <td>1</td>
            <td>
                <button value="{{ key }}" name="key">Update Item</button>
            </td>
        </tr>
    {% endfor %}

</table>

<br>
<button value="checkout" name="checkout">Checkout</button>

{% endblock %}