{% extends "base.html" %}

{% block sidebar %}
    <h1>Bakery Website</h1>
    <br>

    <a href="/">Home</a>
    <p></p>

    <h3>Account Information</h3>
    {% if session['logged_in'] %}
        <h4>Logged in as {{session['username']}}</h4>
        <a href="logout">Logout</a>
        <a href="payment_information">Saved Payment Information</a>
        <a href="address_information">Saved Address Information</a>
        <a href="previous_orders">Previous Orders</a>
        <p></p>

        <h3>Store</h3>
        <a href="all_products">All Bakery Products</a>
        <a href="shopping_cart">Shopping Cart</a>
        <p></p>

        <h3>Classes</h3>
        <a href="classes">All Classes</a>
        <a href="class_enrollments">Enrolled Classes</a>
        <p></p>

        <h3>Admin Tools</h3>
        <a href="edit_accounts">Edit Accounts</a>
        <a href="edit_products">Edit Products</a>
        <a href="edit_classes">Edit Classes</a>
        <a href="edit_orders">Edit Orders</a>
        <a href="edit_enrollments">Edit Enrollments</a>

{% else %}
        <a href="login">Login</a>
        <a href="register">Register</a>
        <p></p>

{% endif %}

{% endblock %}