{% extends "base.html" %}

{% block sidebar %}
    <h1>Bakery Website</h1>
    <br>

    <a href="/">Home</a>
    <a href="login_register">Login/Register</a>
    <a href="all_products">All Bakery Products</a>
    <a href="classes">All Classes</a>
    <a href="class_enrollments">Enrolled Classes</a>
    <a href="shopping_cart">Shopping Cart</a>
    <a href="previous_orders">Previous Orders</a>
    <a href="payment_information">Saved Payment Information</a>
    <a href="address_information">Saved Address Information</a>



{% endblock %}